#
# General configuration options
#
[general]
# A place to store the .pid file when operating in server mode.
pid-file = /tmp/xplevent.pid
# Location of database file (This is required, and you probably need to change this)
db-file = ./xplevent.sqlite3
# If you want logging when operating in background mode specify
# a path to file to write the log statements into here. The
# default is to log nothing when operating in background mode.
#log-file = /tmp/xplevent.log
#
#
# Latitude for calculating sunrise, sunset, dusk and dawn
# This needs to be in decimal form.
lat =  33.75
# Longitude for calculating sunrise, sunset, dusk and dawn
# This needs to be in decimal form.
lon =  -116.97
#
#
# xPL Instance id for hwstar-xplevent
instance-id = main
# xPL ip address to use.
ip-addr = 192.168.17.213
#
#
# Port for xPL connections
service = 3865


#
# Control connections
#

[control]
# Access control list for control connections.
# There are 2 configuration options: allow, and deny.
#
# Both allow and deny take comma-delimited CIDR annotated IP addresses.
#
# Example:
# deny = 192.2.0.0/24, 2001:0DB8:0000:0000::0/64
# 
#
# Deny will deny a list of IP addresses separated by commas.
# deny=ALL denies all incoming connections not specifically allowed.
# If deny is not specified, then any host will be able to connect.
#
deny=ALL
#
# Allow allows IP addresses specified to connect regardless of whether it is in the deny list or not.
#
allow=127.0.0.1, ::1 # Allows connections only from local interfaces.
#
# Specify the bind IP address(es) for the server.
# Each interface is specified by its IP address separated by a comma
#
# ALL implies every interface will be used. 
#
# Examples
#
# bind-addr=ALL
# bind-addr=::1, 127.0.0.1, 192.2.0.0
#
bind-addr=ALL
#
# Default port to bind to.
#
service=1130
#
# Used in client mode to connect to the server. Change this to the address or host name of the server.
# This option may be overridden on the command line with the -h switch.
#
host = ::1

